:root {
    --main-color: rgb(251, 32, 86);
    --white-color: #f5f5f5;
    --back-opacity: #191919;
    --max-width: 1024px;
}

.main-about {
    background-color: var(--white-color);
}

.sec-bg-about {
    position: relative;
    background-image: url(../imagenes/about/about-bg-5.jpg);
    background-repeat: no-repeat;
    padding: 240px 0;
    background-position: center;
    background-size: cover;
    text-align: center;
}

@media (max-width:900px) {
    .sec-bg-about {
        padding: 190px 0;
    }
}

@media (max-width:550px) {
    .sec-bg-about {
        padding: 100px 0;
    }
}

.sec-text-about h1 {
    position: relative;
    color: white;
}

.sec-opacity-about {
    position: absolute;
    top: 0;
    background-color: var(--back-opacity);
    opacity: .35;
    width: 100%;
    height: 100%;
}

.sec2-about {
    padding-bottom: 50px;
}

.sec2-about-cont {
    display: flex;
    max-width: 1124px;
    margin: auto;
    padding: 20px;
}

.sec2-about-text {
    max-width: 50%;
    padding: 20px 20px 0 0;
}

.sec2-about-img img {
    width: 100%;
    padding: 10px;
}

.sec2-about-barrita,
.sec3-about-barrita,
.sec3-about-barrita2 {
    height: 2px;
    width: 55px;
    background-color: var(--main-color);
}

.sec3-about {
    display: flex;
    max-width: 1124px;
    margin: auto;
    padding-bottom: 50px;
}

.sec3-about-cont1,
.sec3-about-cont2 {
    padding: 0 10px;
    width: 100%;
}

.sec3-about-cont1 h4,
.sec3-about-cont2 h4 {
    font-size: 1.3rem;
}

.sec3-about-cont1 p,
.sec3-about-cont2 p {
    padding: 10px 0 15px 0;
}

.sec3-about-cont2 li {
    list-style: none;
    position: relative;
}

.sec3-about-cont2 li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    height: 3px;
    width: 10px;
    border-radius: 20px;
    background-color: var(--main-color);
}

@media (max-width:768px) {
    .sec2-about-cont {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .sec2-about-text {
        max-width: 90%;
        padding: 0 0 30px 0;
    }

    .sec2-about-barrita {
        margin: auto;
    }

    .sec3-about {
        flex-direction: column;
        text-align: center;
    }

    .sec3-about-cont2 li {
        display: flex;
    }

    .sec3-about-barrita,
    .sec3-about-barrita2 {
        margin: auto;
    }
}