.boton-hamburguesa{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.burg {
    height: 30px;
    width: 30px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.burg>div {
    height: 2px;
    width: 65%;
    background-color: rgb(255, 255, 255);
    transform-origin: left;
    transition: all 600ms;
    border-radius: 5px;
}

.linea1-hamb {
    transform: translateX(2px) rotate(40deg);
}

.linea2-hamb {
    opacity: 0;
}

.linea3-hamb {
    transform: translateX(2px) rotate(-40deg)
}